@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsqqeWfMrQcDSAvEvePOpkoPP-bB_AkEUQNg&usqp=CAU");
  color:rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.App {
  font-family: 'Sofadi One', cursive;
  text-align: center;
  padding:10px;
}

.contents{
  margin:auto;
  max-width: 600px;
}
.types {
  border: 1px dotted rgb(255, 255, 255);
  margin: 5px;
  padding:5px;
  border-radius: 10px;
}
h2{
  margin:10px;
}
.types:hover {
  cursor: pointer;
  background-color: rgb(29, 1, 66);
  font-size:18px;
}
h4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 15px;
  border-bottom: 1px dotted rgb(255, 255, 255);
}

p{
  font-size: 13px;
  color: rgb(128, 127, 127);
}

.songlist {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.song{
  display: flex;
  flex-direction: row;
  margin: 10px;
  min-width:200px;
  padding:10px;
  background-color:rgba(255, 255, 255, 0.062);
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .song {
    flex-direction: column;
  }
  .song img{
    height:"250";
    width:"200";
  }
}